PORT=3000
API_SECRET=your_secret_here
ADMIN_EMAILS=admin@example.com,other@example.com
FRONTEND_URL=https://your-frontend-url.com
DATABASE_URL="postgresql://user:password@localhost:5432/bridgeburners"
